// Variables
$new-budget-form-bg: #100016;

.new-budget-form {
    background-color: $new-budget-form-bg;
    &__title {
        font-size: 42px;
    }
    &__input-group {
        width: 300px !important;
        max-width: 550px !important;
        @media screen and (min-width: 768px) {
            width: 500px !important;
        }
        @media screen and (min-width: 1200px) {
            width: 550px !important;
        }
    }
    &__addon {
        border: none !important;
        background-color: lighten(#323232, 5) !important;
        color: #fff !important;
        font-size: 18px !important;
        height: 50px !important;
    }
    &__addon{
        padding: 1.5rem 1rem !important;
    }
    &__form-input {
        padding: 1.5rem 0.75rem !important;
    }
    &__form-button {
        border: none !important;
    }
    &__form-label,
    &__form-button {
        font-size: 18px !important;
    }
    &__form-button {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }
}