@font-face {
	font-family: ComicNeue;
	font-weight: 400;
	src: url(../../fonts/ComicNeue-Regular.ttf);
}

@font-face {
	font-family: ComicNeue;
	font-weight: 700;
	src: url(../../fonts/ComicNeue-Bold.ttf);
}

@font-face {
	font-family: Lato;
	font-weight: 400;
	src: url(../../fonts/Lato-Regular.ttf);
}

@font-face {
	font-family: Lato;
	font-weight: 700;
	src: url(../../fonts/Lato-Bold.ttf);
}