.comic-neue-regular {
    font-family: ComicNeue;
	font-weight: 400;
}

.comic-neue-bold {
    font-family: ComicNeue;
	font-weight: 700;
}

.lato-regular {
    font-family: Lato;
	font-weight: 400;
}

.lato-bold {
    font-family: Lato;
	font-weight: 700;
}

.boder-radius-18 {
    border-radius: 18px !important;
}

.color-white {
    color: $white !important;
}

.color-black {
    color: $black !important;
}

.bg-transparent {
    background-color: transparent !important;
}