$balance-summary-container-bg: #100016;
$date-bg: #FFA372;
$money-color: #EA9085;

.balance-summary-container {
    background-color: $balance-summary-container-bg !important;
    &__balance-title {
        font-size: 24px;
    }
    &__date {
        background-color: $date-bg;
        padding: 0.5em 1em;
        border-radius: 50px;
    }
    &__list-item{
        border-bottom: 1px solid rgba(#fff, 0.4) !important;
    }
    &__list-item:last-child{
        border-bottom: 1px solid transparent !important;
    }
    &__salary,
    &__budget {
        font-size: 22px;
        color: $money-color;
    }
    &__budget-state {
        width: 12px;
        height: 12px;
        margin-left: 8px;
        border-radius: 50%;
    }
}